<!DOCTYPE html>
<html ng-app="lunchCheck" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Frijole|Montserrat+Alternates|Special+Elite" rel="stylesheet">
  <link href="styles.css" type="text/css" rel="stylesheet">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <title>Lunch Check</title>
</head>
<body>
  <div ng-controller="MsgController">
    <h1>Lunch Check !!!</h1>
    <h2>Enter the items you eat at lunchtime, each item separated by a comma ","</h2>
    <input type="text" size="20" ng-model="value">
    <p>NOT consider and empty item, i.e. " , , "</p>
    <button ng-click="clickVerify(value)">Check If Too Much</button>
    <div class="msg" ng-style="colorStyle">{{msg}}</div>
  </div>
</body>
</html>
